.courseprograms{
    padding: 4em;
}
.courseprograms h3{
    display: flex;
    color: rgb(62,51,142);
}
.courseprograms h1{
    display: flex;
    font-size: 3em;
    font-weight: 400;
}
.courseprograms p{
    display: flex;
    font-size: 1.5em;
}

.courseslide{
    display: flex;
    padding: 2em;
    margin: 1em;
}
.coursegallery{
    border: 1px solid white;
    border-radius: 0.3em;
    width: 18.8em;
    height: 27em;
    margin-left: 1em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: start;
}
.slideimage img{
    position: relative;
    border: 1px;
    border-radius: 0.4em;
    width:300px;
    z-index: 1;
}
.imagedescription1{
    position: relative;
    margin-top: -1em;
    padding: 0.8em;
    z-index: 2;
    background-color: white;
}