
.test1{
    padding: 2em;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: small;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    margin-top: 0em;
}
.test2{
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size:7ch;
    font-style: bold;
    text-align: initial;
    padding-left: 3.6em;
    margin-top: -1em;
    margin-bottom: -1em;
   

}
.test3{
    padding: 3em;
    background-color: blueviolet;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size:large;
}